{% extends 'innerBase.html'  %}

{% block Content %}

<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-bar">
			<div class="page-title-breadcrumb">
				<div class=" pull-left">
					<div class="page-title">View all announcements</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-right">
					<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'index' %}">Home</a>&nbsp;<i
							class="fa fa-angle-right"></i>
					</li>
					<li class="active">Announcement</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="card card-box">
					<div class="card-body ">
						<div class="row p-b-20">
						</div>
						<div class="table-scrollable">
							<table class="table table-hover table-checkable order-column full-width" id="example4">
								<thead>
									<tr>
										<th class="center"> Message </th>
										<th class="center"> Time Created </th>
										<th class="center"> Edit </th>
									</tr>
								</thead>
								<tbody>
									{% for announcement in announcement%}
									<form action="">
										<tr class="odd gradeX">
											<td class="left"> {{ announcement.message }} </td>
											<td class="center"> {{ announcement.time_created }} </td>
											<td class="center">
												<a href="{% url 'edit_announcement' announcement.id %}" class="btn btn-tbl-delete btn-xs">
													<i class="fa fa-pencil"></i>
												</a>
												
											</td>
										</tr>
									</form>
									{% endfor %}
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock Content %}