{% extends 'innerBase.html'  %}

{% block Content %}

<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-bar">
			<div class="page-title-breadcrumb">
				<div class=" pull-left">
					<div class="page-title">View all drivers</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-right">
					<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'index' %}">Home</a>&nbsp;<i
							class="fa fa-angle-right"></i>
					</li>
					<li class="active">Drivers</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="card card-box">
					<div class="card-body ">
						<div class="row p-b-20">
						</div>
						<div class="table-scrollable">
							<table class="table table-hover table-checkable order-column full-width" id="example4">
								<thead>
									<tr>
										<th class="center"> License # </th>
										<th class="center"> First Name </th>
										<th class="center"> Last Name</th>
										<th class="center"> Gender </th>
										<th class="center"> Mobile </th>
										<th class="center"> Email </th>
										<th class="center"> Trips </th>
										<th class="center"> Edit </th>
									</tr>
								</thead>
								<tbody>
									{% for driver in driver %}
									<form action="">
										<tr class="odd gradeX">
											<td class="center"> {{ driver.license_number }} </td>
											<td class="center"> {{ driver.person.first_name }} </td>
											<td class="center"> {{ driver.person.last_name }} </td>
											<td class="center"> {{ driver.person.gender }} </td>
											<td class="center"> {{ driver.person.mobile }} </td>
											<td class="center"> {{ driver.person.email }} </td>
											<td class="center"> {{ driver.person.number_of_trips }} </td>
											<td class="center">
												<a href="{% url 'edit_driver' driver.id %}" class="btn btn-tbl-delete btn-xs">
													<i class="fa fa-pencil"></i>
												</a>
											</td>
										</tr>
									</form>
									{% endfor %}
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock Content %}